# Apache < 2.3
<IfModule !mod_authz_core.c>
	Order allow,deny
	Deny from all
	<Files ext_icon.*>
		Order Allow, Deny
		Allow from All
	</Files>
</IfModule>
# Apache >= 2.3
<IfModule mod_authz_core.c>
	Require all denied
	<Files ext_icon.*>
		Require all granted
	</Files>
</IfModule>
